<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <a href="/">Home</a> | <a href="/user/register">Add New User</a> |
      <a href="/user">All Users List</a>
    </div>
    <h1><%= title %></h1>
    <table width="80%" border="0">
      <tr style="text-align:left; background-color:#CCC">
        <th>Login</th>
        <th>Senha</th>
        <th>Permissão</th>
      </tr>

      <% if (data) { %> <% data.forEach(function(user){ %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.senha %></td>
        <td><%= user.permissao %></td>
        <td>
          <div style="float:left">
            <a href="/user/edit/<%= user.id %>">Edit</a> &nbsp;
            <form
              method="post"
              action="/user/delete/<%= user.id %>"
              style="float:right"
            >
              <input
                type="submit"
                name="delete"
                value="Delete"
                onClick="return confirm('Are you sure you want to delete?')"
              />
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </div>
        </td>
      </tr>
      <% }) %> <% } %>
    </table>
  </body>
</html>
