<!--Cabecalho-->
<%- include('../layouts/admin-header.ejs', { title: 'Admin - Consultas' }); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Administrador</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-primary mx-1">
        <span data-feather="plus-square"></span>
        Agendar Consulta
      </button>
      <button type="button" class="btn btn-sm btn-secondary mx-1">
        <span data-feather="search"></span>
        Buscar Médico
      </button>
    </div>
  </div>

  <h3><%= table %></h3>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <!--classe antiga -> table-striped-->
      <thead>
        <tr>
          <th>Data</th>
          <th>Horário</th>
          <th>Médico</th>
          <th>CRM</th>
          <th>Especialidade</th>
          <th>Paciente</th>
          <th>CPF</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tbody> -->
        <% if (data) { %> <%data.forEach((consulta) => { %>
        <tr>
          <td><%= consulta.dia.getDate() %>/<%= consulta.dia.getMonth() %>/<%= consulta.dia.getFullYear() %></td>
          <td><%= consulta.horario %></td>
          <td class="text-capitalize"><%= consulta.medico %></td>
          <td><%= consulta.crm %>/<%= consulta.emissor %></td>
          <td class="text-capitalize"><%= consulta.especialidade %></td>
          <td class="text-capitalize"><%= consulta.paciente %></td>
          <td><%= consulta.cpf %></td>
        <!-- paciente":"elza marlene da conceição","cpf":"04303543047","sexo":"F","medico":"bernardo diego campos","crm":"89059","emissor":"17","especialidade":"Anestesiologia","dia":"2019-07-10T03:00:00.000Z","horario":"10:30:00"},{"paciente":"raquel márcia almada","cpf":"86399726484","sexo":"F","medico":"césar marcelo porto","crm":"91470","emissor":"17","especialidade":"Cardiologia","dia":"2019-07-10T03:00:00.000Z","horario":"12:00:00"} -->
          <td>
            <a class='btn btn-secondary btn-sm' href="/editar/<%= consulta.id %>">Editar</a>
            <a class='btn btn-danger btn-sm' href="/excluir/<%= consulta.id %>">Excluir</a>
          </td>
        </tr>
        <% }) %> <% } %>
        <!-- </tbody> -->
      </tbody>
    </table>
  </div>

</main>

<!--Rodapé-->
<%- include ../layouts/admin-footer.ejs %>