<!--Cabecalho-->
<%- include('../layouts/admin-header.ejs', { title: 'Admin - Médicos' }); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Médicos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-primary mx-1">
        <span data-feather="plus-square"></span>
        Adicionar Médico
      </button>
      <button type="button" class="btn btn-sm btn-secondary mx-1">
        <span data-feather="search"></span>
        Buscar Médico
      </button>
    </div>
  </div>

  <h3><%= table %></h3>
  <div class="table-responsive-sm">
    <table class="table table-hover table-sm">
      <!--classe antiga -> table-striped-->
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>CRM</th>
          <th>Especialidade</th>
          <th>Login</th>
          <th>Senha</th>
          <th>Opções</th>
        </tr>
      </thead>

      <tbody>
        <% if (data) { %> <%data.forEach((medico) => { %>
        <tr>
          <td><%= medico.id %></td>
          <td class="text-capitalize"><%= medico.nome %></td>
          <td><%= medico.crm %>/<%= medico.Uf %></td>
          <td><%= medico.especialidade %></td>
          <td><%= medico.login %></td>
          <td><%= medico.senha %></td>
          <td>
            <a class='btn btn-secondary btn-sm' href="/editar/<%= medico.id %>">Editar</a>
            <a class='btn btn-danger btn-sm' href="/excluir/<%= medico.id %>">Excluir</a>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>
  </div>
</main>

<!--Rodapé-->
<%- include ../layouts/admin-footer.ejs %>