<h3><%= table %></h3>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <!--classe antiga -> table-striped-->
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Date de Nascimento</th>
        <th>Login</th>
        <th>Senha</th>
        <th>Permissão</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tbody> -->
      <% if (data) { %> <%data.forEach((user) => { %> <% if(user.permissao == 'p') { %>
      <tr>
        <td><%= user.id %></td>
        <td>Nome do Paciente</td>
        <td>CPF</td>
        <td>Data de Nascimento</td>
        <td><%= user.login %></td>
        <td><%= user.senha %></td>
        <td><%= user.permissao %></td>
        <td>
          <a class='btn btn-secondary btn-sm' href="/editar/<%= user.id %>">Editar</a>
          <a class='btn btn-danger btn-sm' href="/excluir/<%= user.id %>">Excluir</a>
        </td>
      </tr>
      <% } %> <% }) %> <% } %>
      <!-- </tbody> -->
    </tbody>
  </table>
</div>