<!--Cabecalho-->
<%- include layouts/header.ejs %>

<!-- Começo body - Corpo -->

<!-- Barra de navegação de cima - Usuario -->
<%- include layouts/nav-bar-top.ejs %>

<div class="container-fluid">
  <div class="row">

    <!-- Barra de navegação lateral -->
    <%- include layouts/nav-bar-left.ejs %>

    <!-- Começo main - Conteúdo principal -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Médicos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a class="btn btn-sm btn-primary mx-1" href="registerMedical">
            <span data-feather="plus-square"></span>
            Adicionar
          </a>
          <!-- <button type="button" class="btn btn-sm btn-primary mx-1">
              <span data-feather="plus-square"></span>
              Adicionar Paciente
            </button> -->
          <button type="button" class="btn btn-sm btn-secondary mx-1">
            <span data-feather="search"></span>
            Buscar
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <!--classe antiga -> table-striped-->
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CRM</th>
              <th>Especialidade</th>
              <th>Login</th>
              <th>Opções</th>
            </tr>
          </thead>

          <tbody>
            <% if (data) { %> <%data.forEach((user) => { %>
            <tr>
              <td><%= user.idMedico %></td>
              <td class="text-capitalize"><%= user.nome %></td>
              <td><%= user.crm %>/<%= user.uf %></td>
              <td class="text-capitalize"><%= user.especialidade %></td>
              <td><%= user.login %></td>

              <td class="row">
                <!--Botão info para acionar o modal-->
                <button type="button" class="btn btn-info btn-sm mr-1" title="Exibir" data-toggle="modal"
                  data-target="#infoMed<%= user.idMedico %>">
                  <span class="fas fa-info fa-fw"></span>
                </button>

                <a class="btn btn-secondary btn-sm mr-1 text-white" href="/medicos/edit/<%= user.idMedico %>">
                  <span class="fas fa-pen fa-fw"></span>
                </a>

                <form action="/medicos/del/<%= user.idMedico %>" method="POST">
                  <button class="btn btn-danger btn-sm mr-1 text-white" title="Excluir" type="submit"><span
                      class="fas fa-trash-alt fa-fw"></span>
                  </button>
                </form>
              </td>

              <!-- Modal -->
              <div class="modal fade" id="infoMed<%= user.idMedico %>" tabindex="-1" role="dialog"
                aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalLongoExemplo">Médico <%= user.idMedico %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- Modal com o conteudo -->
                    <div class="modal-body">
                      <!-- Lista com as informações dos usuário e medicos -->
                      <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">Email</h6>
                            <small
                              class="text-muted"><%= user.email %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.email %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">Nome</h6>
                            <small class="text-muted text-capitalize">
                                <%= user.nome %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.nome %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">CRM</h6>
                            <small class="text-muted text-capitalize"><%= user.crm %>/<%= user.uf %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.crm %>/<%= user.uf %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">Data de Nascimento</h6>
                            <small class="text-muted"><%= user.nascimento.dia %>/<%= user.nascimento.mes %>/<%= user.nascimento.ano %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.nascimento.dia %>/<%= user.nascimento.mes %>/<%= user.nascimento.ano %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">Login</h6>
                            <small class="text-muted"><%= user.login %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.login %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">Ativo</h6>
                            <small class="text-muted"><%= user.active %>
                            </small>
                          </div>
                          <span class="text-muted"><%= user.active %></span>
                        </li>
                      </ul>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
                      <a class="btn btn-secondary btn-sm mr-1 text-white" title="Editar"
                        href="/medicos/edit/<%= user.idMedico %>">Editar
                        <!-- <span class="fas fa-pen fa-fw"></span> -->
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </tr>
            <% }) %> <% } %> 
            <!-- </tbody> -->
          </tbody>
        </table>
      </div>
    </main>
    <!-- Fim do main -->
  </div>
</div>

<!-- Fim Corpo -->
<!-- Rodapé -->
<%- include layouts/footer.ejs %>